<link rel="stylesheet" href="/public/css/footer.css" />
<!-- footer -->
<footer>
    <div class="about">
      <img src="/public/images/lasajerie.png" alt="logo" />
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (33) 09 50 57 68 69
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:contact@sajerie.com">
            contact@sajerie.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>